.wh-clear {
  clear: both
}

.wh-hide {
  display: none !important
}

*[id^="template-"] {
  display: none !important
}

.popup-slide {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation-duration: 0.64s;
  animation-duration: 0.64s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s
}

.popup-slide-in {
  -webkit-animation-name: wh-popup-slide-in;
  animation-name: wh-popup-slide-in;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards
}

.popup-slide-out {
  -webkit-animation-name: wh-popup-slide-out;
  animation-name: wh-popup-slide-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

@-webkit-keyframes wh-popup-slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    display: block
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: block
  }
}

@keyframes wh-popup-slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px)
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@-webkit-keyframes wh-popup-slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px)
  }
}

@keyframes wh-popup-slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px)
  }
}

.wh-widget-hello-popup-wrapper {
  margin: 21px 20px 0 20px;
  padding: 0;
  border: 0;
  width: 343px;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: block;
  position: relative;
  line-height: 23px;
  font-size: 14px
}

.wh-widget-hello-popup-wrapper.wh-popup-left {
  margin-left: 10px
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup {
  box-shadow: 7px 7px 15px 8px rgba(0, 0, 0, 0.17);
  border: 1px solid #e2e2e2;
  position: relative;
  min-height: 149px;
  border-radius: 10px;
  background-color: white
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-widget-hello-popup-close {
  float: right;
  padding: 7px 9px 3px 5px;
  line-height: 10px;
  cursor: pointer
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-widget-hello-popup-close svg {
  fill: #a3a3a3;
  width: 15px;
  height: 15px
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers {
  margin-bottom: 0;
  line-height: 10px;
  text-align: left;
  padding-bottom: 26px
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul {
  display: inline-block;
  margin: 0 0 0 85px;
  padding: 0
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li {
  margin-bottom: 0;
  margin-right: 15px;
  line-height: 10px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  width: 34px;
  height: 34px
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li.wh-messenger-bg-facebook {
  background-color: #0084ff
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li.wh-messenger-bg-whatsapp {
  background-color: #4dc247
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li.wh-messenger-bg-snapchat {
  background-color: #FFEA00
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li.wh-messenger-bg-viber {
  background-color: #7b519d
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li.wh-messenger-bg-line {
  background-color: #00c300
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li.wh-messenger-bg-telegram {
  background-color: #08c
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li.wh-messenger-bg-vkontakte {
  background-color: #6383a8
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li.wh-messenger-bg-email {
  background-color: #848484
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li.wh-messenger-bg-sms {
  background-color: #1ecea8
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li.wh-messenger-bg-call {
  background-color: #ec5923
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li a {
  line-height: 10px;
  width: 34px;
  height: 34px;
  display: inline-block
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul li a svg {
  margin: 1px 0 0 1px;
  width: 90%;
  height: 90%
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content {
  min-height: 58px;
  display: block;
  border-radius: 4px 4px 0 0;
  color: black;
  padding: 27px 23px 20px 18px
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content .wh-widget-hello-popup-content-logo {
  height: 50px;
  width: 50px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  float: left
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content .wh-widget-hello-popup-content-logo img {
  height: 50px;
  width: 50px;
  border-radius: 8px
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content .wh-widget-hello-popup-content-text {
  min-height: 56px;
  width: 234px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  float: right;
  position: relative;
  cursor: pointer;
  word-wrap: break-word
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content .wh-widget-hello-popup-content-text a {
  text-decoration: none;
  color: black
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content .wh-widget-hello-popup-content-text a>div {
  text-align: left;
  padding: 14px 16px;
  line-height: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content .wh-widget-hello-popup-content-text::before {
  content: '';
  position: absolute;
  top: 20px;
  left: -10px;
  border: 5px solid transparent;
  border-right: 5px solid #e2e2e2
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content .wh-widget-hello-popup-content-text::after {
  content: '';
  position: absolute;
  top: 20px;
  left: -9px;
  border: 5px solid transparent;
  border-right: 5px solid #fff
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup-powered {
  margin-top: 11px;
  text-align: right;
  padding: 0 29px 4px 0;
  font-size: 11px;
  color: #afafaf
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup-powered a {
  color: #afafaf;
  text-decoration: none
}

.wh-widget-hello-popup-wrapper .wh-widget-hello-popup-powered a span {
  text-decoration: underline
}

.wh-widget-hello-popup-wrapper.wh-popup {
  box-shadow: 7px 7px 15px 8px rgba(0, 0, 0, 0.17);
  border: 1px solid #e2e2e2;
  position: relative;
  min-height: 149px;
  border-radius: 10px;
  background-color: white;
  width: 302px
}

.wh-widget-hello-popup-wrapper.wh-popup.wh-popup-left {
  margin-left: 10px
}

.wh-widget-hello-popup-wrapper.wh-popup.wh-popup-right {
  margin-right: 20px
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar {
  height: 50px;
  border-radius: 6px 6px 0 0;
  margin: -1px
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar.wh-messenger-bg-facebook {
  background-color: #0084ff
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar.wh-messenger-bg-whatsapp {
  background-color: #4dc247
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar.wh-messenger-bg-snapchat {
  background-color: #FFEA00
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar.wh-messenger-bg-viber {
  background-color: #7b519d
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar.wh-messenger-bg-line {
  background-color: #00c300
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar.wh-messenger-bg-telegram {
  background-color: #08c
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar.wh-messenger-bg-vkontakte {
  background-color: #6383a8
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar.wh-messenger-bg-email {
  background-color: #848484
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar.wh-messenger-bg-sms {
  background-color: #1ecea8
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar.wh-messenger-bg-call {
  background-color: #ec5923
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar .title-bar-icon-close {
  float: right;
  cursor: pointer;
  margin: 14px 12px 0 0
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar .title-bar-icon-messenger {
  float: left;
  margin: 11px 0 0 11px
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar .title-bar-icon-messenger svg {
  fill: white;
  width: 28px;
  height: 28px
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-title-bar .title-bar-text {
  padding-top: 15px;
  text-align: left;
  color: #FFFFFF
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content.wh-popup-content-viber>div {
  padding-top: 15px;
  padding-right: 30px;
  background: url("/img/loader.gif") no-repeat center
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content.wh-popup-content-viber img {
  height: 200px;
  display: block;
  margin: auto
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content.wh-popup-content-viber .wh-viber-account {
  font-weight: bold;
  text-align: center;
  font-size: 16px
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content.wh-popup-content-viber .wh-viber-account--pwd-hidden {
  margin-bottom: 15px
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content.wh-popup-content-viber a {
  color: #111;
  text-decoration: none
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content.wh-popup-content-viber a span {
  font-size: 12px;
  font-weight: normal;
  text-decoration: underline
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content.wh-popup-content-call>div {
  min-height: 100px
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content.wh-popup-content-call+.wh-clear+.wh-widget-hello-popup-powered.wh-hide {
  display: block !important
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content.wh-popup-content-call+.wh-clear+.wh-widget-hello-popup-powered.wh-hide>a {
  display: none !important
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content>div {
  padding: 25px 12px 0 30px;
  min-height: 168px
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content .content-wa-text {
  text-align: left;
  word-wrap: break-word
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content .content-wa-number, .wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content .content-call-number {
  margin-top: 38px;
  font-size: 26px;
  padding-right: 18px;
  text-align: center;
  word-wrap: break-word
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content .content-wa-number a, .wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content .content-call-number a {
  text-decoration: none;
  color: #111
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content .content-facebook {
  padding: 0;
  height: 299px;
  overflow: hidden
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content.wh-popup-content-snapchat>div {
  padding-right: 30px
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content .content-snapchat-qrcode {
  height: 207px
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content .content-snapchat-name {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0 15px 0
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content .content-line {
  padding: 0;
  height: 380px;
  overflow: hidden
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-popup-content .content-line iframe {
  margin-top: -115px;
  width: 302px;
  height: 490px;
  border: none;
  overflow: hidden
}

.wh-widget-hello-popup-wrapper.wh-popup .wh-widget-hello-popup-powered {
  text-align: center;
  padding-bottom: 7px;
  padding-left: 24px
}

.wh-small-screen .wh-widget-hello-popup-wrapper {
  margin-left: 15px;
  width: 280px
}

.wh-small-screen .wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content .wh-widget-hello-popup-content-logo {
  display: none
}

.wh-small-screen .wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content {
  padding: 27px 20px 20px 20px
}

.wh-small-screen .wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content .wh-widget-hello-popup-content-text {
  width: 100%
}

.wh-small-screen .wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content .wh-widget-hello-popup-content-text::before {
  display: none
}

.wh-small-screen .wh-widget-hello-popup-wrapper .wh-widget-hello-popup-content .wh-widget-hello-popup-content-text::after {
  display: none
}

.wh-small-screen .wh-widget-hello-popup-wrapper .wh-widget-hello-popup .wh-messengers ul {
  margin-left: 20px
}

@-webkit-keyframes button-slide {
  0% {
    opacity: 0;
    display: none;
    margin-top: 0;
    margin-bottom: 0;
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px)
  }
  to {
    opacity: 1;
    display: block;
    margin-top: 0;
    margin-bottom: 14px;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
  }
}

@-moz-keyframes button-slide {
  0% {
    opacity: 0;
    display: none;
    margin-top: 0;
    margin-bottom: 0;
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px)
  }
  to {
    opacity: 1;
    display: block;
    margin-top: 0;
    margin-bottom: 14px;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
  }
}

@-o-keyframes button-slide {
  0% {
    opacity: 0;
    display: none;
    margin-top: 0;
    margin-bottom: 0;
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px)
  }
  to {
    opacity: 1;
    display: block;
    margin-top: 0;
    margin-bottom: 14px;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes button-slide {
  0% {
    opacity: 0;
    display: none;
    margin-top: 0;
    margin-bottom: 0;
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px)
  }
  to {
    opacity: 1;
    display: block;
    margin-top: 0;
    margin-bottom: 14px;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
  }
}

.button-slide {
  -webkit-animation-name: button-slide;
  -moz-animation-name: button-slide;
  -o-animation-name: button-slide;
  animation-name: button-slide;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

.button-slide-out {
  -webkit-animation-name: button-slide;
  -moz-animation-name: button-slide;
  -o-animation-name: button-slide;
  animation-name: button-slide;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse
}

@-webkit-keyframes button-mes-us {
  0% {
    opacity: 0;
    display: none;
    margin-left: 55px;
    margin-right: 55px
  }
  to {
    opacity: 1;
    display: block;
    margin-left: 70px;
    margin-right: 70px
  }
}

@-moz-keyframes button-mes-us {
  0% {
    opacity: 0;
    display: none;
    margin-left: 55px;
    margin-right: 55px
  }
  to {
    opacity: 1;
    display: block;
    margin-left: 70px;
    margin-right: 70px
  }
}

@-o-keyframes button-mes-us {
  0% {
    opacity: 0;
    display: none;
    margin-left: 55px;
    margin-right: 55px
  }
  to {
    opacity: 1;
    display: block;
    margin-left: 70px;
    margin-right: 70px
  }
}

@keyframes button-mes-us {
  0% {
    opacity: 0;
    display: none;
    margin-left: 55px;
    margin-right: 55px
  }
  to {
    opacity: 1;
    display: block;
    margin-left: 70px;
    margin-right: 70px
  }
}

.wh-widget-send-button-desktop .wh-widget-send-button-wrapper:hover a.wh-widget-send-button-get-button {
  display: block !important
}

div.wh-widget-send-button-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  position: fixed;
  z-index: 16000160;
  bottom: 0;
  text-align: center;
  overflow: hidden
}

div.wh-widget-send-button-wrapper:hover a.wh-widget-send-button-get-button {
  display: block
}

div.wh-widget-send-button-wrapper.wh-widget-left {
  left: 0
}

div.wh-widget-send-button-wrapper.wh-widget-left div.wh-widget-send-button-wrapper-list {
  left: 0;
  float: left;
  padding: 0 !important
}

div.wh-widget-send-button-wrapper.wh-widget-left div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon {
  float: left
}

div.wh-widget-send-button-wrapper.wh-widget-right {
  right: 0
}

div.wh-widget-send-button-wrapper.wh-widget-right div.wh-widget-send-button-wrapper-list {
  right: 10px;
  float: right
}

div.wh-widget-send-button-wrapper.wh-widget-right div.wh-widget-send-button-wrapper-list a.wh-widget-send-button-get-button {
  float: right;
  right: 1px
}

div.wh-widget-send-button-wrapper.wh-widget-right div.wh-widget-send-button-wrapper-list>a.wh-widget-button {
  min-width: 55px
}

div.wh-widget-send-button-wrapper.wh-widget-right div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.mes-us {
  text-align: right
}

div.wh-widget-send-button-wrapper.wh-widget-right div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon {
  float: right
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list {
  margin: 10px;
  margin-bottom: 20px;
  padding: 0 0 0 15px;
  border: 0;
  position: relative;
  bottom: 3px;
  text-align: center
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list.wh-widget-activate>a.wh-widget-button {
  display: block
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list.wh-widget-activate>a.wh-widget-button.wh-widget-button-activator div.mes-us {
  display: none
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list.wh-widget-activator-as-close>a.wh-widget-button.wh-widget-button-activator div.mes-us {
  display: none
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list.wh-widget-activator-as-close>a.wh-widget-button.wh-widget-button-activator div.wh-widget-button-icon>div {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg)
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list.wh-widget-activator-as-close>a.wh-widget-button.wh-widget-button-activator div.wh-widget-button-icon .wh-svg-close {
  display: inline
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list.wh-widget-activator-as-close>a.wh-widget-button.wh-widget-button-activator div.wh-widget-button-icon .wh-svg-icon {
  display: none
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list.wh-widget-show-get-button a.wh-widget-send-button-get-button {
  display: block
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list a.wh-widget-send-button-get-button {
  display: none;
  position: fixed;
  white-space: nowrap;
  text-decoration: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 11px;
  color: #afafaf
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list a.wh-widget-send-button-get-button:hover {
  text-decoration: underline
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button {
  display: none;
  text-decoration: none;
  font-weight: normal;
  margin-top: 14px;
  position: relative;
  outline: none
}

body.wh-widget-send-button-desktop div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button:hover div.mes-us {
  display: block;
  -webkit-animation-name: button-mes-us;
  -moz-animation-name: button-mes-us;
  -o-animation-name: button-mes-us;
  animation-name: button-mes-us;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

body.wh-widget-send-button-desktop div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button:hover div.wh-widget-button-icon {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7)
}

body.wh-widget-send-button-desktop div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button.wh-widget-button-activator div.mes-us {
  display: none
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button.wh-widget-button-activator {
  display: block
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button.wh-widget-button-activator div.wh-widget-button-icon>div {
  height: 100%;
  width: 100%;
  -moz-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  -webkit-transition: transform 0.4s ease;
  transition: transform 0.4s ease
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.mes-us {
  position: relative;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  border: 1px solid #e2e2e2;
  margin-right: 55px;
  margin-left: 55px;
  padding: 4px 9px 6px 9px;
  border-radius: 4px;
  color: #333;
  background: white;
  top: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  display: none
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon {
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  font-size: 28px;
  text-align: center;
  line-height: 50px;
  color: white
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon .wh-svg-close {
  display: none
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon .wh-svg-icon {
  display: inline
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon.wh-messenger-bg-facebook {
  background-color: #0084ff
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon.wh-messenger-bg-whatsapp {
  background-color: #4dc247
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon.wh-messenger-bg-snapchat {
  background-color: #FFEA00
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon.wh-messenger-bg-viber {
  background-color: #7b519d
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon.wh-messenger-bg-line {
  background-color: #00c300
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon.wh-messenger-bg-telegram {
  background-color: #08c
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon.wh-messenger-bg-vkontakte {
  background-color: #6383a8
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon.wh-messenger-bg-email {
  background-color: #848484
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon.wh-messenger-bg-sms {
  background-color: #1ecea8
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon.wh-messenger-bg-call {
  background-color: #ec5923
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon svg {
  fill: white;
  width: 41px;
  height: 50px
}

body.wh-widget-send-button-mobile div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon svg {
  width: 48px
}

body.wh-widget-send-button-mobile div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon svg.wh-messenger-svg-facebook {
  width: 44px
}

div.wh-widget-send-button-wrapper div.wh-widget-send-button-wrapper-list>a.wh-widget-button div.wh-widget-button-icon i {
  display: inline;
  line-height: 48px
}

@-webkit-keyframes callToActionRight {
  0% {
    opacity: 0;
    right: -20px
  }
  to {
    opacity: 1;
    right: 0
  }
}

@-moz-keyframes callToActionRight {
  0% {
    opacity: 0;
    right: -20px
  }
  to {
    opacity: 1;
    right: 0
  }
}

@-o-keyframes callToActionRight {
  0% {
    opacity: 0;
    right: -20px
  }
  to {
    opacity: 1;
    right: 0
  }
}

@keyframes callToActionRight {
  0% {
    opacity: 0;
    right: -20px
  }
  to {
    opacity: 1;
    right: 0
  }
}

@-webkit-keyframes callToActionLeft {
  0% {
    opacity: 0;
    left: -20px
  }
  to {
    opacity: 1;
    left: 0
  }
}

@-moz-keyframes callToActionLeft {
  0% {
    opacity: 0;
    left: -20px
  }
  to {
    opacity: 1;
    left: 0
  }
}

@-o-keyframes callToActionLeft {
  0% {
    opacity: 0;
    left: -20px
  }
  to {
    opacity: 1;
    left: 0
  }
}

@keyframes callToActionLeft {
  0% {
    opacity: 0;
    left: -20px
  }
  to {
    opacity: 1;
    left: 0
  }
}

#wh-call-to-action {
  position: relative;
  top: 29px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  background: white;
  cursor: pointer
}

#wh-call-to-action a {
  text-decoration: none;
  color: black
}

#wh-call-to-action a .wh-call-to-action-content {
  padding: 5px 10px 5px 10px;
  line-height: 18px;
  max-height: 34px;
  max-width: 135px;
  overflow: hidden;
  word-wrap: break-word;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px
}

.wh-widget-right #wh-call-to-action {
  float: left;
  margin-right: 10px
}

.wh-widget-right #wh-call-to-action.wh-animation-in {
  -webkit-animation-name: callToActionRight;
  -moz-animation-name: callToActionRight;
  -o-animation-name: callToActionRight;
  animation-name: callToActionRight;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

.wh-widget-right #wh-call-to-action.wh-animation-out {
  -webkit-animation-name: callToActionRight;
  -moz-animation-name: callToActionRight;
  -o-animation-name: callToActionRight;
  animation-name: callToActionRight;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse
}

.wh-widget-right #wh-call-to-action:before {
  z-index: 2
}

.wh-widget-right #wh-call-to-action:before, .wh-widget-right #wh-call-to-action:after {
  content: '';
  position: absolute;
  background: white;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  right: -5px;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  z-index: 1;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.wh-widget-left #wh-call-to-action {
  float: right;
  margin-left: 10px
}

.wh-widget-left #wh-call-to-action.wh-animation-in {
  -webkit-animation-name: callToActionLeft;
  -moz-animation-name: callToActionLeft;
  -o-animation-name: callToActionLeft;
  animation-name: callToActionLeft;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

.wh-widget-left #wh-call-to-action.wh-animation-out {
  -webkit-animation-name: callToActionLeft;
  -moz-animation-name: callToActionLeft;
  -o-animation-name: callToActionLeft;
  animation-name: callToActionLeft;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse
}

.wh-widget-left #wh-call-to-action:before {
  z-index: 2
}

.wh-widget-left #wh-call-to-action:before, .wh-widget-left #wh-call-to-action:after {
  content: '';
  position: absolute;
  background: white;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  left: -5px;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  z-index: 1;
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg)
}

body {
  margin: 0
}

svg {
  fill: white
}

div.wh-widget-send-button-wrapper a.wh-widget-send-button-get-button {
  position: relative;
  bottom: 5px;
  float: right;
  margin-right: 8px;
  text-decoration: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 11px;
  color: #afafaf
}

div.wh-widget-send-button-wrapper a.wh-widget-send-button-get-button:hover {
  text-decoration: underline
}

div.wh-widget-send-button-wrapper.wh-widget-right a.wh-widget-send-button-get-button {
  margin-right: 17px
}

div.clear {
  clear: both
}

* {
  -webkit-tap-highlight-color: transparent !important
}
