.fill {
    position: absolute;
    top: 60px;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}


#hero
{
    height: calc(58vh + 108px + 32vw);
}


.nav-text {
  margin-top: 5px;
  font-size:22px;
  font-weight: 300;
  vertical-align: baseline;
  color: #fff;
}
.fontArial {
  font-family: Arial !important;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

/* .filter-hide
{
  display: none;
} */

.video-bg {
    object-fit: cover;
    object-position: 50% 50%;
    font-family: 'object-fit: cover; object-position: center center;';
    position: absolute;
    top: calc(32vw + 108px);
    width: 100%;
    height: 58vh;
    z-index: 7;

}

.overlay {
  top: calc(32vw + 108px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 58vh;
  background-color: rgba(0,0,0,0.5) !important;
  z-index: 8;
}

.text-banner {
  top: calc(43vw + 108px);
  left: 2%;
  width: 96%;
  color: #fff;
  font-weight: bold;
  font-size: 5vh;
  position: absolute !important;
  text-align: center;
  z-index: 9;
}

@media (max-width: 768px) {
  .text-banner {
    top: calc(180vw + 60px);
    font-size: 2.5vh;
  }
  .cliens img {
    max-width: 70% !important;
  }
  #hero {
      /* height: calc(58vh + 68px) !important; */
      height: calc(58vh + 60px + 127.5vw);
  }
  .overlay {
    top: calc(127.5vw + 60px);
    height: 58vh;
  }
  .video-bg {
    top: calc(127.5vw + 60px);
    height: 58vh;
  }
  .navmta {
    display: none !important;
  }
  .container img {
    padding-left: 0px !important;
  }
}
