.icon-h{
  font-size:16px;
}

.nav-text{
  height:40px;
}

#header{
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.navmta{
  background-color: #14007d;
}

.nav-text .alignright{
  font-size:16px;
  margin-top:5px;
}

.logo img{
  height:65px;
  margin-top:0px;
  display: block;
}

.product-item{
  border: 1px solid;
  border-color: gainsboro;
  padding-top: 10px;
  cursor: pointer;
  /* margin: 5px; */
}
.product-item:hover{
  border-color: #14007d;
  opacity: 0.9;
  /* margin: 5px; */
}
.product-item:hover .img-item  img {
  transform: scale(1.10);
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  background: #14007d;
}

.portfolio .portfolio-item .portfolio-img {
    border: 1px solid;
    border-color: gainsboro;
}

.portfolio .portfolio-item .portfolio-info {
    /* background: rgba(55, 81, 126, 0.8); */
    /* background: rgba(40, 58, 90, 0.9); */
    background: rgba(20, 0, 125, 0.9);
}

.banner{
  width: 100%;
  top: 109px;
  position: absolute;
}

.banner-container{
  /* padding: 3%; */
}

.contain{
  padding: 10vw 3% 3% 3%;
  color: #000;
  width: 40%;
  position: absolute;
  left: 5%;
  height: 32vw;
}

.img-banner {
  height: 32vw;
  position: absolute;
  right:0vw;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.banner-img {
  width: 43.5% ;
  height: 32vw;
}

.banner-text{
  font-size: 2vw;
  text-shadow: 0 0 3px #fff;
}
.banner-text2{
  font-size: 2vw;
  text-shadow: 0 0 3px #fff;
}

/* @media (min-width: 1600px)
{
  .img-banner {
    height:32vw;
    right: -12vw;
  }
  .banner{
    height: 34vw;
    width: 100%;
    left: -2vw !important;
  }
  .banner-img {
    width: 62% ;
    height: 32vw;
  }
  .banner-text{
    font-size: 34px;
    text-shadow: 0 0 3px #fff;
  }
  .banner-text2{
    font-size: 32px;
    text-shadow: 0 0 3px #fff;
  }

  .contain{
    width: 46vw;
    height:25vw;
    padding-top: 8vw;

  }
}

@media (max-width: 1600px)
{
  .img-banner {
    height:32vw;
    right: -10vw;
  }
  .banner{
    height: 34vw;
    left: -5vw !important;
  }
  .banner-img {
    width: 62% ;
    height: 32vw;
  }
  .banner-text{
    font-size: 34px;
    text-shadow: 0 0 3px #fff;
  }
  .banner-text2{
    font-size: 32px;
    text-shadow: 0 0 3px #fff;
  }

  .contain{
    width: 46vw;
    height:25vw;
    padding-top: 8vw;

  }
}

@media (max-width: 1400px)
{
  .contain{
    width: 46vw;
    height:25vw;
    padding-top: 8vw;

  }

  .banner-img {
    width: 62% ;
    height: 25vw;
  }

  .img-banner {
    height:25vw;
    right: 0vw;
  }
  .banner{
    left: -6vw;
    height: 26vw;
  }

  .banner-text{
    font-size: 30px;
    text-shadow: 0 0 3px #fff;
  }
  .banner-text2{
    font-size: 22px;
    text-shadow: 0 0 3px #fff;
  }
} */

.img-item
{
  height: 18vw;
}

.img-item img {
    transition: all 0.6s;
}

@media (max-width: 991px)
{
  .img-item
  {
    height: 44vw;
  }
}

@media (max-width: 768px)
{
  .banner {
    height: 127.5vw;
    left: 0vw;
    top: 64px;
  }
  .banner-img {
    height: 70vw;
    right:0;
    width: 100%;
  }

  .img-item
  {
    height: 108vw;
  }

  .pdetail{
    margin-top: 60px;
  }

  .menu {
    margin-top: 70px;
  }

  .banner-text{
    color: #000;
    font-size: 6vw;
    text-shadow: 0 0 3px #fff;
  }
  .banner-text2{
    color: #000;
    font-size: 5vw;
    text-shadow: 0 0 3px #fff;
  }

  .contain{
    padding: 6%;
    color: #fff;
    width: 100%;
    padding-top: 20%;
    position: relative;
    right: 0;
    height: 69vw;
  }

  .img-banner {
    height:100%;
    position: relative;
    right:0;
    width: 100%;
  }

  .section-title h2 {
      font-size: 24px;
  }

  section {
    padding: 20px 0;
  }



  .portfolio #portfolio-flters li {
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    transition: all 0.3s;
    padding: 8px 16px;
    border-radius: 50px;
  }

}

.transbox
{
  background: rgba(0, 0, 0, 0.7);
}

.banner-img {
  background-image: url('../img/product/banner-img.png');
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

@media (min-width: 1200px)
{
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px;
    }
    .banner {
      left: 0vw;
    }
}

.has-hover .bg, .has-hover [class*="image-"] img {
    transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
}
